.nav-right-sec {
  display: flex;
  gap: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 880px) {
  .mobile-1079 {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
}

.search-bar-div {
  background-color: white;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
}

.wishlist-icon,
.cart-icon {
  cursor: pointer;
  position: relative;
}

.count-wishlist-items,
.count-cart-items {
  position: absolute;
  top: 1px;
  right: -8px;
  color: var(--light);
  font-size: 8px;
  border-radius: 50%;
  background-color: var(--danger);
  width: 13px;
  height: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right > div > input {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-right > div > input:focus {
  outline: none;
}

.nav-right > div > button {
  text-decoration: none;
  border: none;
  background: none;
  color: #a7a6a4;
  padding-right: 15px;
}

.nav-right > div > button:hover {
  color: #95806a;
}

.nav-left .brand {
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-right input {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: rgb(255, 255, 255);
  min-width: 120px;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 8px rgba(224, 94, 94, 0.2);
  z-index: 9999;
}

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  background-color: ghostwhite;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, var(--primary), var(--primary-dark));
  color: white;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 999;
  padding: 0 20px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.mobile-menu.show {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: auto;
  padding: 20px;
}

.mobile-menu .mobile-section {
  margin-bottom: 15px;
}
.mobile-section > div {
  display: flex;
  flex-direction: column;
}

.mobile-section-elements {
  font-size: 0.8rem;
  padding-left: 25px;
  width: min-content;
}

.mobile-menu a,
.mobile-menu p {
  color: white;
  text-decoration: none;
}

.mobile-menu input {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  width: 100%;
}

.log-sign {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-bar-div-mobile {
  background-color: white;
  padding: 5px 5px;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-button {
  cursor: pointer;
}

.search-bar-div-mobile input {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}

.search-bar-div-mobile input :focus {
  outline: none;
}

.search-bar-div-mobile button {
  text-decoration: none;
  border: none;
  background: none;
  color: #a7a6a4;
  padding-right: 15px;
}

@media (max-width: 880px) {
  .nav-center,
  .nav-right {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile-1079 {
    font-size: 24px;
    cursor: pointer;
  }

  #mobileMenu .mobile-section:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 880px) and (max-width: 1077px) {
  .nav-center {
    display: none;
  }
  .mobile {
    display: block;
  }

  .nav-left {
    margin-left: 20px;
  }

  #mobileMenu .mobile-section:nth-child(2) {
    display: none;
  }
}
