




.arrow {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 50px;
  align-items: center;
}

@media (max-width: 767px) {
  .arrow {
    bottom: 4%;
    right: 34%;
  }
}

.arrow button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(238, 238, 238, 0.27);
  border: none;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  font-size: x-large;
  transition: 0.5s;
  z-index: 100;
}

.arrow button i {
  line-height: 0;
}

.arrow button:hover {
  color: #555;
}




.carousel.next .arrow button,
.carousel.prev .arrow button {
  pointer-events: none;
}









@media (max-width: 869px) {
  .arrow {
    right: 30%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .arrow button {
    height: 24px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .arrow {
    right: 35%;
  }
}
