/* -thumbnail- */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 60%;
  width: max-content;
  z-index: 99;
  display: flex;
  gap: 20px;
  transform: translateX(-30%);
  will-change: transform;
}

@media (max-width: 869px) {
  .thumbnail {
    display: none;
  }
}


.carousel.next .thumbnail {
  transform: translateX(-30%) translateY(150px);
  animation: transformThumbnail 0.5s 1s linear forwards;
  will-change: transform;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(-30%) translateY(0);
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  transform: scaleX(0);
  overflow: hidden;
  opacity: 0;
  animation: showThumbnailSmoothPrev 0.5s 1s linear forwards;
}

@keyframes showThumbnailSmoothPrev {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}